body {

  background-color: #E85F5C;
  color:white;
}
nav{
  background-color:#773344 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.result{
  font-size:20pt;
  margin-top:20px;
  text-shadow: 1px 1px #CACACA;
}